#container {
  width: 375px;
  height: 600px;
  text-align: center;
  background-color: #D4CDFF;
  display: inline-block;
  margin: auto;
}

#cm {
  width: 150px;
  height: 25px;
}

#kg {
  width: 150px;
  height: 25px;
}

#weightguide {
}

#result {
  font-size: 35px;
  color: white;
}

#submit {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border-style: none;
  background-color:  #C9FFD9;
  color: #000;
  font-size: 25px;
  margin-top: 20px;
}

body{
  background-color: #000;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
}
